<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataStructure -->
      <package
            uri="de.fhdo.sep.ml_example"
            class="de.fhdo.sep.ml_example.Ml_examplePackage"
            genModel="model/DataStructure.xcore"/>
   </extension>

</plugin>
